
  <% pictures = ["http://i.f1g.fr/media/ext/orig/www.lefigaro.fr/medias/2013/12/05/PHO9c94bd0c-5d95-11e3-9117-7d8eaf2feb0f-805x453.jpg","https://img.grouponcdn.com/deal/hfefAup1zQWBE2K8sWURgS27xax/hf-846x508/v1/c700x420.jpg", "https://www.cicis.com/media/1138/pizza_trad_pepperoni.png"]%>


<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= pictures.sample%>);">
      <div class="card-category"><%= @restaurant.category %></div>
        <div class="big-card-description text-center">
          <h2><%= @restaurant.name %></h2>
          <h2><%= @restaurant.address %></h2>
          <h2><%= @restaurant.phone_number %></h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="reviews text-center">
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |review| %>
    <h3><%= review.rating %>* - <%=review.content %></h3>
  <% end %>
</div>
<ul class="list-inline">
   <li><p> <%= link_to 'Add review', new_restaurant_review_path(@restaurant) %></p></li>
</ul>

<%= link_to 'Back to all restaurant', restaurants_path  %>
